@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Kart göndər </h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get">
                            <div class="form-group  row">
                                <label class="col-sm-2 col-form-label">Mövzu</label>
                                <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group  row">
                                <label class="col-sm-2 col-form-label">Açıqlama</label>
                                <div class="col-sm-10">
                                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group  row">
                                <label class="col-sm-2 col-form-label">Göndərən</label>
                                <div class="col-sm-10">
                                    <b>Naib</b>
                                </div>
                            </div>
                            <div class="form-group  row">
                                <label class="col-sm-2 col-form-label">Faylı seçin</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control">
                                </div>
                            </div>
                            <div class="form-group  row">
                                <label class="col-sm-2 col-form-label">Alıcı</label>
                                <div class="col-sm-10">
                                    <select name="" id="" class="form-control">
                                        <option value="">Ariz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button asp-controller="Home" asp-action="Index" class="btn btn-white btn-sm" type="submit">İmtina</button>
                                    <button class="btn btn-primary btn-sm" type="submit">Göndər</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 